# IDE setting directories
.idea
.vscode

# Build directory
dist

# Dependency directories
node_modules/

# Vitest coverage
coverage

# Environmental variables
.env

# codecept tests outputs
tests/functional/_output
